<div class="banner">

    <div class="banner-image">

        <div class="banner-text">
            <h1>BrightEvents</h1>
            <% if !current_user %>
            <button class='btn btn-warning col-12 col-md-3 mt-3'>
                <%= link_to 'Get Started', new_user_path, class: "link" %>
            </button>
            <%end%>
        </div>
    </div>

</div>