/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";

html {
    height: 100%;
}

.new-form {
    margin-left: 10em;
}

.banner-image {
    background: url(image_path("frontpage.jpg"));
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
    z-index: -100;
}


.banner-text {
    text-align: start;
    position: absolute;
    padding-left: 5em;
    top: 40%;
    left: 36%;
    color: white;
}

.banner-text button {
    max-width: 95%;
}

.btn {
    border-radius: 30px;
}

li {
    list-style-type: none;
}

.new_form {
    margin-left: 5.5em;
}

.tag-description {
    margin-left: 4.2em;
}

.create-event-btn {
    margin-left: 3.3em;
}

.img {
    margin-bottom: 30px;
}

.content {
    font-size: 1.3em;
}

.center {
    text-align: center;

    justify-content: center;
}

.button {
    margin-left: 340px;
    margin-bottom: 50px;
}

.cardindex:hover {
    transform: scale(1.1);
    transition: all .7s ease;
}

.carousel.demo .carousel-item img {
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;
    margin-top: 5em;
}

.logo {
    width: 40%;
    height: 50px;
    max-width: 200px;
}

.event-show {
    margin-bottom: 2em;
    margin-top: 1em;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}


.row {
    margin: 0 -5px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.overlay h4 {
    font-size: 2em;
}

.overlay p {
    font-size: 1.3em;
    line-height: 1.1em;
}

.cards {
    width: 100%;
    height: 300px;
    color: #D6D600;
}

.cards-title {
    margin-top: 3.2em;
}

.cards-img {
    width: 100%;
    height: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.cards:hover .cards-img,
.cards:focus .cards-img {
    transform: scale(1.02);
    opacity: 0.8;
}

.cards:hover .cards-img-overlay {
    color: #fff;
}

.cards-img-overlay>h4,
.cards-img-overlay>p {
    visibility: hidden;
}

.cards-img-overlay:hover h4,
.cards-img-overlay:hover p {
    visibility: visible;
}

.cards:hover .cards-img-overlay p {
    font-size: 1.5em;
    letter-spacing: 0.02em;
}